body {
  background-image: url(https://i.ibb.co/VBtf3Cn/nathan-dumlao-87r-24o-ABU-unsplash.jpg);
  width: 100%;
  height: 150vh;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Small devices */
@media only screen and (min-width: 600px) {
}

/* Medium devices*/
@media only screen and (min-width: 768px) {
}

/* Large devices */
@media only screen and (min-width: 992px) {
}

section {
  background: url(https://i.ibb.co/S3F5xhv/Untitled-Artwork-7.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 400px;
  margin: 20px;
  padding: 10px;
}

.light-bulb {
  width: 80px;
  margin-bottom: 65px;
}

.ansText {
  position: relative;
  bottom: 208px;
  right: 31px;
  border: none;
  text-align: left;
}
