body {
  background-image: url(https://i.ibb.co/VBtf3Cn/nathan-dumlao-87r-24o-ABU-unsplash.jpg);
  width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  letter-spacing: 2px;
}

/* Small devices */
@media only screen and (min-width: 600px) {
}

/* Medium devices*/
@media only screen and (min-width: 768px) {
}

/* Large devices */
@media only screen and (min-width: 992px) {
}
section {
  background: url(https://i.ibb.co/S3F5xhv/Untitled-Artwork-7.png);
  border: 3px double black;
  transition: background 0.2s linear;
}
.dark-mode {
  background: url(https://i.ibb.co/n6cnRjb/Untitled-Artwork-8.png);
  color: white;
  border: 3px double white;
}

section,
.dark-mode {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 400px;
  height: 780px;
  padding: 10px;
}

.noHover {
  border: none;
}
button:active {
  outline: none;
  border: none;
}

.light-bulb {
  content: url(https://i.ibb.co/gZGJY4N/lightbulbwhite.gif);
  width: 80px;
  transition: 0.2s linear;
}

.bulb-off {
  content: url(https://i.ibb.co/x2DYWB7/lightbulbblack.gif);
  width: 80px;
}

.questText {
  border-radius: 10%;
}

.ansText {
  position: relative;
  bottom: 180px;
  left: 32px;
  padding-right: 133px;
}

.questHeading,
.questText {
  font-family: "Pangolin", cursive;
}

.tv-img {
  content: url("https://i.ibb.co/M12XV4V/tv-wmode.gif");
  transition: 0.2s linear;
}
.tv-black {
  content: url("https://i.ibb.co/x2ry98d/tv-bmode.gif");
}
